<div id="main" data-role="page"> 
  <div data-role="header">
    <h1>Embed an AudioBoo</h1>
    <a href="/settings" data-icon="gear" class="ui-btn-right">Settings</a>
  </div>

  <div data-role="content">
    <h2><%= @boo.title %></h2>
    
    <audio id="player" preload="auto" controls="true">
      <source src="<%= @boo.urls['high_mp3'] %>" />
    </audio>
    
    <ul data-role="listview" id="photos">
      <% @photos.each_with_index do |photo,i| %>
      <li>
        <img src="<%= photo %>" width="100" />
        <h3><a href="#image-picker" data-rel="dialog">Add an image</a></h3>
        <p>fpp</p>
      </li>
      <% end %>
    </ul>
    
    
    <% if @flickr_userid %>
    <div style="margin-top: 1em;">
      <a href="#image-picker" data-role="button" data-rel="dialog">Add an image</a>
    </div>
    <% end %>
    
    <h3>Post</h3>
    <a href="mailto:post@posterous.com?subject=<%= URI.escape(@boo.title) %>&body=<%= URI.escape(%[<iframe marginheight="0" scrolling="no" marginwidth="0" src="#{@embed_url}" height="222" width="300"></iframe>]) %>" data-role="button">Post to Posterous</a>
    
    <h3>Embed Code</h3>
    <code>
      &lt;iframe marginheight=&quot;0&quot; scrolling=&quot;no&quot; marginwidth=&quot;0&quot; src=&quot;<%= @embed_url %>&quot; height=&quot;222&quot; width=&quot;300&quot;&gt;&lt;/iframe&gt;
    </code>
  </div>
</div>

<div data-role="page" id="image-picker" >
  <div data-role="header">
    <h1>Pick an image</h1>
  </div>
  <div data-role="content">
    <ul data-role="listview" id="image-list">
    </ul>
    <a href="/boos/<%= @boo.id %>" data-role="button" data-rel="back" data-theme="a">Cancel</a>
  </div>
</div>

<% if @flickr_userid %>
<script type="text/javascript">
$.getJSON("http://api.flickr.com/services/feeds/photos_public.gne?id=<%= @flickr_userid %>&jsoncallback=?",
  { format: "json" },
  function(data) {
    var html = '';
    $.each(data.items, function(i,item) {
      array = item.link.split(/\//g);
      item_id = array.slice(-2)[0];
      html += '<li id='+item_id+'>';
      html += '<img src="'+item.media.m+'" />';
      html += '<h3><a href="/boos/<%= @boo.id %>?photo='+item_id+'">'+item.title+'</a></h3>';
      html += '<p>'+item.published+'</p>';
      html += '</li>';
    });
    $("#image-list").append(html);
  });
</script>
<% end %>
