<div id="main" data-role="page"> 
  <div data-role="header">
    <h1>Embed an AudioBoo</h1>
    <a href="/settings" data-icon="gear" class="ui-btn-right">Settings</a>
  </div>

  <div data-role="content">
    <h2><%= @boo.title %></h2>
    
    <audio id="player">
      <source src="<%= @boo.urls['high_mp3'] %>" />
    </audio>
    <div data-role="fieldcontain">
      <input type="range" name="slider" id="slider" value="0" min="0" max="<%= @boo.duration %>" />
    </div>
    
    <a href="#image-picker" data-role="button" data-rel="dialog">Add an image</a>
    
    <div>
    <ul id="photos" data-role="listview" data-split-icon="delete" data-inset="true">
      <% @photos.each_with_index do |photo,i| %>
      <li>
        <input type="hidden" class="id" value="<%= photo[:id] %>" />
        <img src="<%= photo[:thumbnail] %>" width="100" />
        <a href="#image-picker" data-rel="dialog"></a>
        <a href="#" class="ui-li-count" style="width:30%">
          <input type="number" min="0" max="<%= @boo.duration %>" step="1" class="tick" value="<%= @ticks[i] %>" />
        </a>
        <a href="#" class="remove-photo" data-rel="dialog" data-transition="slideup">Remove photo</a>
      </li>
      <% end %>
    </ul>
    </div>
    
    <a href="#embed" data-role="button" data-rel="dialog">Embed and share</a>
    
  </div>
</div>

<div data-role="page" id="image-picker" >
  <div data-role="header">
    <h1>Pick an image</h1>
  </div>
  <div data-role="content">
    <ul data-role="listview" id="image-list">
    </ul>
    <a href="/boos/<%= @boo.id %>" data-role="button" data-rel="back" data-theme="a">Cancel</a>
  </div>
</div>

<div data-role="page" id="embed">
  <div data-role="header">
    <h1>Embed and share</h1>
  </div>
  <div data-role="content">
    <a id="posterous" href="mailto:post@posterous.com?subject=<%= URI.escape(@boo.title) %>&body=<%= URI.escape(%[<iframe marginheight="0" scrolling="no" marginwidth="0" src="#{@embed_url}" height="500" width="500"></iframe>]) %>" data-role="button">Post to Posterous</a>
  
    <h3>Embed Code</h3>
    <code id="code">
      &lt;iframe marginheight=&quot;0&quot; scrolling=&quot;no&quot; marginwidth=&quot;0&quot; src=&quot;<%= @embed_url %>&quot; height=&quot;500&quot; width=&quot;500&quot;&gt;&lt;/iframe&gt;
    </code>
  </div>
</div>

<script type="text/javascript">
$(".remove-photo").live("click", function() {
  $(this).parent().remove();
});
$('#embed').live('pageshow',function(event, ui){
  var embedHtml = embedCode();
  $('#embed #code').text(embedHtml);
  var mailTo = "mailto:post@posterous.com?subject=<%= @boo.title %>&body="+embedHtml.replace("&", ";");
  $('#embed #posterous').attr('href', mailTo);
});

function embedCode() {
  photos = $("#photos li input[type='hidden']");
  photo_ids = jQuery.map(photos, function(photo, i){
    return (photo.value);
  });
  tick_elements = $("#photos li input[type='number']");
  ticks = jQuery.map(tick_elements, function(tick, i){
    return (tick.value * 1000);
  });
  ticks.shift;
  
  params = '?photos=' + photo_ids.join(",") + '&ticks=' + ticks.join(",");
  url = "<%= @embed_url %>"+params;
  
  code = '<iframe marginheight="0" scrolling="no" marginwidth="0" src="'+url+'" height="500" width="500"></iframe>';
  return code;
}

$.getJSON("http://api.flickr.com/services/feeds/photos_public.gne?id=<%= @flickr_userid %>&jsoncallback=?",
  { format: "json" },
  function(data) {
    var html = '';
    $.each(data.items, function(i,item) {
      array = item.link.split(/\//g);
      item_id = array.slice(-2)[0];
      html += '<li>';
      html += '<img id="img-'+item_id+'" src="'+item.media.m+'" />';
      html += '<h3><a id="'+item_id+'" href="#">'+item.title+'</a></h3>';
      html += '<p>'+item.published+'</p>';
      html += '</li>';
    });
    $("#image-list").append(html);
    $("#image-list li h3 a").live("click", function() {
      var photo_id = $(this).attr('id');
      var image = $("#img-"+photo_id)[0].src;
      var tick = $("#slider").val();
      if (tick==0) tick = 5;
      
      var html = '';
      html += '<li style="height: 60px;">';
      html += '<input type="hidden" class="id" value="'+photo_id+'" />';
      html += '<img src="'+image+'" width="100" class="ui-li-thumb" />';
      html += '<a href="#image-picker" data-rel="dialog"></a>';
      html += '<a href="#" class="ui-li-count ui-link"><input type="number" min="0" max="<%= @boo.duration %>" step="1" class="tick" value="'+tick+'" /></a>';
      html += '<a href="#" class="remove-photo ui-link" data-rel="dialog" data-transition="slideup">Remove photo</a>';
      html += '</li>';
      
      $("#photos").append(html);
      $('#photos').listview('refresh');
      $("#image-picker").dialog('close');
    });
  });
</script>
